
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font family and Background */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: black;
}

nav ul {
    display:flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    margin: 0 i5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    margin: 20px;
}

main {
    flex: 3;
    background-color: lightgray;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-left: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}